.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $primary-bg-color;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-thumb {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-thumb {
    display: flex;
    align-items: baseline;
  }

  .container--main {
    display: flex;
    align-items: baseline;
    margin-right: auto;
    margin-left: auto;
  }
}

.info-thumb {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    width: 231px;
    text-align: start;
  }
}

.info-thumb__adress {
  margin-top: 20px;

  color: $main-color;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.info-thumb__contacts{
 
  
}

.info-thumb__list {
  @extend %list;
  
}

.info-thumb__mail, .info-thumb__tel{
  color: $footer-contacts-color;
  text-decoration: none; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.info-thumb__contacts {
 
  margin-top: 8px;
  
  color: $footer-contacts-color;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  
    @media screen and (min-width: 1200px) {
    margin: 0;
    margin-top: 9px;
  }
}

.subscription-thumb {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-left: 70px;
    text-align: start;
  }
}

.page-footer__section__subtitle {
  margin-bottom: 20px;

  color: $main-color;
}