.logo {
  color: $logo-modal-icon-color;
  font-family: $logo-font;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.page-footer__logo {
  color: $main-color;
  font-family: $logo-font;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logo__label {
  color: $brand-color;
  font-family: $logo-font;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}