.social-links {
  @extend %list;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $brand-color;
  }
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__icon {
  fill: $icon-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-links__link:hover &,
  .social-links__link:focus & {
    fill: $main-color;
  }
}

.social-links--center {
  @extend %list;
  display: inline-flex;
  align-items: center;
}

.social-links__link--theme-dark {
  background-color: $icon-bg-color;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $brand-color;
  }
}

.social-links__icon--theme-dark {
  fill: $main-color;
}
