.section--theme-dark {
  background-color: $secondary-bg-color;
}

.team {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * #{$margin-set});
    margin-bottom: calc(-1 * #{$margin-set});
  }
}

.team__item {
  background-color: $main-color;
  box-shadow: $team-item-shadow;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - #{$margin-set});
    margin-bottom: $margin-set;
    margin-left: $margin-set;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - #{$margin-set});
  }

  &:not(:last-child) {
    margin-bottom: $margin-set;
  }
}

.team__name {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  margin-top: 10px;
  margin-bottom: 16px;

  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}